.logout--button, .delete--button {
  margin: 1rem;
  align-self: flex-end;
  min-width: fit-content;
}
.logout--button, .delete--button {
  margin: 2em 2em;
  align-items: center;
  border-style: solid;
  border-color: black;
  border-radius: 1em;
  padding: 0.7em 0.7em;
  background-color: white;
  font-size: 25px;
  font-style: bold;
  font-family: "Palette Mosaic", cursive;
}
.logout--button:hover, .delete--button:hover {
  background-color: black;
  color: white;
}
