#mic--Main {
    display: flex;
    font-family: 'Spectral', serif;
    flex-direction: column;
}
.mic--Title {
    font-style: bold;
}
.mic--Response {
    font-family: 'Spectral', serif;
    color: rgb(136, 136, 136);
    font-style: bold;
}
.mic--Advice {
    font-family: 'Spectral', serif;
    font-style: oblique;
}
.mic--Buttons {
    display: flex;
    flex-flow: row;
}
.mic--startBtn, .mic--stopBtn {
    align-self: flex-end;
    min-width: fit-content;
}
.mic--startBtn, .mic--stopBtn {
    margin: 1em 1em;
    align-items: center;
    border-style: solid;
    border-color: black;
    border-radius: 1em;
    padding: 0.7em 0.7em;
    background-color: white;
    font-size: 25px;
    font-style: bold;
    font-family: "Palette Mosaic", cursive;
}
.mic--startBtn:hover, .mic--stopBtn:hover {
    background-color: black;
    color: white;
}
.mic--Emotions {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    row-gap: 1em;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding: 0.0em;
    font-family: 'Spectral', serif;
}
.mic--Emotions--Title {
    align-items: center;
}
.mic--positivity, .mic--negativity {
    align-items: center;
    border: 2px solid black;
    border-radius: 0em;
    padding: 1em;
    font-size: 1em;
    font-style: bold;
}
.mic--negativity {
    color: white;
    background-color: black;
    grid-row: 1;
}
.mic--positivity {
    color: black;
    grid-row: 1;
    background-color: white;
}
#negativity--text {
    grid-row: 2;
    grid-column:2;
    align-self: center;
    margin: 0.5em;

}
#positivity--text {
    align-self: center;
    margin: 0.5em;

}
  