#mic--Main {
    font-family: 'Spectral', serif;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 27%;
}
.mic--Title {
    font-style: bold;
    font-size: 2vw;
    padding: 0.3em;
}
.mic--Response {
    font-family: 'Spectral', serif;
    color: rgb(136, 136, 136);
    font-style: bold;
    padding: 0.3em;
}
.mic--Advice {
    font-family: 'Spectral', serif;
    font-style: oblique;
    padding: 0.3em;
}
.mic--Buttons {
    display: flex;
    flex-flow: row;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
}
.mic--startBtn, .mic--stopBtn {
    align-self: center;
    min-width: fit-content;
    justify-content: center;
}
.mic--startBtn, .mic--stopBtn {
    margin: 1em 1em;
    align-items: center;
    border-style: solid;
    border-color: black;
    border-radius: 1em;
    padding: 0.7em 0.7em;
    background-color: white;
    font-size: 25px;
    font-style: bold;
    font-family: "Palette Mosaic", cursive;
}
.mic--startBtn:hover, .mic--stopBtn:hover {
    background-color: black;
    color: white;
}
.mic--Emotions {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Spectral', serif;
}
.mic--Emotions--Title {
    justify-content: center;
    align-items: center;
    margin-left: 6em;
    margin-bottom: 0;
    font-style: italic;
    font-size: 1em;
}
.mic--positivity, .mic--negativity {
    align-items: center;
    border: 2px solid black;
    border-radius: 0em;
    padding: 1em;
    font-size: 0.8em;
    text-align: center;

}
.mic--negativity {
    color: white;
    background-color: black;
    grid-row: 1;
}
.mic--positivity {
    color: black;
    grid-row: 1;
    background-color: white;
}
#negativity--text {
    grid-row: 2;
    font-weight: bold;
    grid-column:2;
    margin-left: 0;
}
#positivity--text {
    align-self: center;
    font-weight: bold;
    padding-right: 0.5em;
}

.emo--container {
    margin: 0 auto;
}