.login--button {
  margin: 2em 2em;
  align-items: center;
  border-style: solid;
  border-color: black;
  border-radius: 1em;
  padding: 0.7em 0.7em;
  background-color: white;
  font-size: 25px;
  font-style: bold;
  font-family: "Palette Mosaic", cursive;
}
.login--button:hover {
  background-color: black;
  color: white;
}
