.feelingsWheel {
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: rotation;
    animation-play-state: paused;
}

.arrow {
    display: flex;
    font-size: 3rem;
    margin-left: 0.2em;
    justify-content: center;
    align-self: center;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}