.main--header {
  margin: 1em 1em;
  text-align: center;
  font-family: "Palette Mosaic", cursive;
  font-size: 5vw;
}
.App {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.app--Login {
  display: flex;
  justify-content: center;
}
