.app--Header {
  margin: 1em 1em;
  text-align: center;
  font-family: "Palette Mosaic", cursive;
  font-size: 7vw;
}
.app--App {
  display: flex;
  flex-flow: column;
  align-items: center;
}
#app--Login {
  display: flex;
  justify-content: center;
}
.app--Footer {
  display: flex;
  justify-content: center;
  font-family: 'Spectral', serif;
  padding-top: 2.5em;
  font-size: 1.8vw;
}
.app--Nav {
  font-family: 'Spectral', serif;
  padding-top: 2.5em;
  font-size: clamp(0.5rem, 0.5rem + 1vmin, 1.8em);
}
a {
  text-decoration: none;
  color: black;
  margin: 0.5em 0.5em;
}
.app--loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Palette Mosaic", cursive;
  font-size: 1em;
}
